.ask {
  background-color: white;
  overflow: scroll;
  padding-bottom: 5em;
}

.progress {
  height: 5px;
}

.row {
  padding: 10px;
}

.read {
  display: flex;
}

.read > .left, .right {
  flex: 1;
  margin: 20px;
  /* background-color: white; */
}

.read > .left > #input {
  
}

.read > .left > #input:empty:before{ 
  content: 'Enter texts, .pdf, .word or URL'; 
  color: gray; 
} 
.read > .left > #input:focus:before{
  content:none;
}

.ask-icon {
  text-align: center;
}

.example > div {
  margin: 10px 0
}

.highlight {
  color: #ef8f00;
  font-weight: 600;
}