.layout {
  background-color: #203152;
  height: 100%;
}

.layout > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: white 1px solid;
}

.layout > header > .head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
}

.layout > header > .head > .logo {
  font-size: 2em;
  color: white;
  letter-spacing: .2em;
}

.layout > header > .head > .search {
  min-width: 70vw;
}

.layout > header > .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  min-width: 70vw;
  font-size: 1.2em;
  letter-spacing: .1em;
}

.layout > header > .menu > a {
  padding: 10px 45px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.layout > header > .menu > a:hover {
  background-color: #425680;
}

.layout > header > .menu > a.active {
  color: #ffa51f;
  border-bottom: #ffa51f 3px solid;
}

.content {
  position: absolute;
  top: 132px;
  bottom: 0;
  display: flex;
  background-color: #203152;
}